.footer {
	display: flex;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;

	font-size: 14px;
	line-height: $main-line-height;
	background-color: $background-color;

}	

.footer__navigation{
	
	@media screen and (min-width: $tablet) and (max-width: 1199px) {
		margin-left: 89px;
	}
	@media screen and (min-width: 320px) and (max-width: 767px) {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
		margin-left: 0;
	}

	
}

.footer-nav {
	display: flex;
	align-items: baseline;
	
	@media screen and (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}

	@media screen and (max-width: 1199px) {
		flex-wrap: wrap;
		text-align: center;
	}
}


.footer__contacts {
	display: inline-block;
	margin-bottom: 9px;

	color: $description-color;
	line-height: 1.71;
	font-weight: $main-font-weight;
	font-style: normal;
}

.footer__item{

    @media screen and (max-width: 1199px) {
		display: flex;
		justify-content: center;
	}
}



.address {
	margin-bottom: 9px;

	font-style: normal;
	color: $primary-white-color;
	line-height: $main-line-height;
	transition-property: color;
	transition: transform $cubic;

	&:hover,
	&:focus {
		color: $accent-color;
	}	

	@media screen and (max-width: $tablet) {
		align-items: center;
	}
}


.join {

	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	color: $primary-white-color;

	// @media screen and (min-width: 320px) and (max-width: 479px) {
	// 	margin-bottom: 10px;
	// }

	@media screen and (max-width: 1199px) {
		justify-content: center;
		margin-bottom: 20px;
		text-align: center;
	}
}

.footer-socials {
	display: inline-block;
	margin-left: 70px;

	@media screen and (max-width: 1199px) {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 165px;
		margin-bottom: 60px;
	}

	@media screen and (max-width: 767px) {
		margin-left: 0;
	}
}

.footer__socials-list {
	display: inline-flex;
	width: 204px;
	margin-top: 16px;
	justify-content: space-between;

}

.footer__socials-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 50%;

	fill: $primary-white-color;
	transition-property: background-color;
	transition: transform $cubic;
}

.footer__socials-link{
 &:hover,
 &:focus {
	background-color: $accent-color;}
}

.footer-subscribe {
	
	@media screen and (max-width: $tablet) {
		display: inline-flex;
		justify-content: center;
		margin: auto;
	}

	@media screen and (min-width: $desktop) {
		margin-left: 93px;
	}
}

.footer-subscribe__form{
	// display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	
	@media screen and (min-width: 320px) and (max-width: 479px){
		width: 320px;
	}

	@media screen and (min-width: $phone) and (max-width: 1199px) {
		width: 450px;
	}	

	@media screen and(min-width: $desktop) {
		display: flexbox;
	}
}

.footer__subscribe-input {
	box-sizing: border-box;
	margin-top: 10px;
	padding-left: 16px;
	height: 50px;

	background-color: $background-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	color: $primary-white-color;

	&:focus-visible{
		outline: 1px solid $primary-white-color;
	}

	@media screen and (min-width: 320px) and (max-width: 479px){
		width: 290px;
		margin-bottom: 20px;
	}
	
	@media screen and (min-width: $phone) and (max-width: 1199px) {
		width: 450px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	@media screen and (min-width: $desktop) {
		width: 358px;
	}
}


.icon-send {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-bottom: 10px;
	margin-left: 10px;

	fill: $primary-white-color;
}