.site-nav {
	@media screen and (min-width: $phone) {
		display: none;
    }
	
	@media screen and (min-width: $tablet) {
   	 	display: flex;
		margin-left: 87px;
    }
	
	@media screen and (min-width: $desktop) {
		margin-left: 93px;
	}
}
	
.site-nav__item+.site-nav__item {
	margin-left: 50px;
}

.site-nav__link {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;

	color: $primary-text-color;
	line-height: $main-line-height;
	font-weight: $main-font-weight;
	transition-property: color;
	transition: transform $cubic;

}

.site-nav__link{
 &:hover,
 &:focus {
	color: $accent-color;}
}

.site-nav__current-link {
	position: relative;
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;

	color: $accent-color;
	font-weight: $main-font-weight;

}

.site-nav__current-link{
 &:after {
	content: "";

	position: absolute;
	bottom: -1px;

	display: block;
	width: 100%;
	height: 4px;
	background-color: $accent-color;
	border-radius: 2px;}
}